<% @caves.each do |cafe| %>
<%= link_to cafe.name, cafe_path(cafe) %>
<% end %>




<!-- <div class="container">
  <h2>Form control: select</h2>
  <p>The form below contains two dropdown menus (select lists):</p>
  <form>
    <div class="form-group">
      <label for="sel1">Select list (select one):</label>
      <select class="form-control" id="sel1">
        <option></option>
      </select>
    </div>
  </form>
</div> -->